{% load staticfiles %}

<header id="header"><!--header-->
	<div class="header_top"><!--header_top-->
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="contactinfo">
						<ul class="nav nav-pills">
							<li><a href="#"><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
							<li><a href="#"><i class="fa fa-envelope"></i> info@domain.com</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="social-icons pull-right">
						<ul class="nav navbar-nav">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div><!--/header_top-->
	
	<div class="header-middle"><!--header-middle-->
		<div class="container">
		      <!-- lang -->
				<div class="col-sm-4">
					<div class="logo pull-left">
						<a href="{% url 'commerce:index' %}"><img src="{% static 'images/home/logo.png' %}" alt="" width="150px" /></a>
					</div>
				</div>
			
			     <!-- responsive nav -->
				<div class="row">
					<div class="col-sm-5">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="{% url 'commerce:index' %}" class="active">Accueil</a></li>
								{% if user.is_authenticated and not user.is_superuser %}
        							<li class="dropdown"><a href="#">Nos produits<i class="fa fa-angle-down"></i></a>
                                        <ul role="menu" class="sub-menu">
        									<!--  -->
        									{% for category in categories_list %}
                                                <li><a href="{% url 'commerce:display_category' category.id %}">{{ category.name|truncatechars:20 }}</a></li>
                                            {% empty %}
                                            {% endfor %}
        									<!--  -->
                                        </ul>
                                    </li>
                                {% endif %} 
								<li><a href="{% url 'commerce:information' %}">A propos</a></li>
							</ul>
						</div>
					</div>

					<div class="col-sm-3">
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li class="#"><a href="#"><i class="fa fa-user"></i>
								    {% if user.is_authenticated %}
								        {{ user.username }}
								    {% else %}
								    {% endif %}
								<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        {% if user.is_authenticated %}
                                            {% if user.is_superuser %}                                                
                                                <li><a href="{% url 'admin:index' %}">Administration</a></li>
                                            {% else %}
                                                <li><a href="{% url 'commerce:account' %}">Profile</a></li>
                                            {% endif %}
                                            <li><a href="{% url 'sign_out' %}">Deconnexion</a></li>
										{% else %} 
    										<li><a href="{% url 'sign_up' %}">Inscription</a></li> 
    										<li><a href="{% url 'sign_in' %}">Connexion</a></li> 
										{% endif %} 
                                    </ul>
                                </li> 
								
							</ul>
						</div>
					</div>
                    
				</div>
			</div>
		</div>
	</div><!--/header-middle-->
</header><!--/header-->