{% load bootstrap3 %}

<div class="row">
    <div class="col-md-12">
        <!-- particular -->
        <div id="add_address_particular">
            <div class="row">
                <div class="col-md-12">{% bootstrap_field add_address_form.gender %}</div>
            </div>
            <div class="row">
                <div class="col-md-6">{% bootstrap_field add_address_form.last_name %}</div>
                <div class="col-md-6">{% bootstrap_field add_address_form.first_name %}</div>
            </div>
            <div class="row">
                <div class="col-md-12">{% bootstrap_field add_address_form.cin %}</div>
            </div>
        </div>
        <!-- society -->
        <div id="add_address_society">
            <div class="row">
                <div class="col-md-6">{% bootstrap_field add_address_form.company %}</div>
                <div class="col-md-6">{% bootstrap_field add_address_form.company_form %}</div>
            </div>
            <div class="row">
                <div class="col-md-12">{% bootstrap_field add_address_form.nif %}</div>
            </div>
        </div>
        <!-- fixe -->
        <div class="row">
            <div class="col-md-12">{% bootstrap_field add_address_form.address %}</div>
        </div>
        <div class="row">
            <div class="col-md-6">{% bootstrap_field add_address_form.postcode %}</div>
            <div class="col-md-6">{% bootstrap_field add_address_form.city %}</div>
        </div>
        <div class="row">
            <div class="col-md-12">{% bootstrap_field add_address_form.phone %}</div>
        </div>
    </div>
</div>